.no-transition{
	-webkit-transition: none !important;
}

/*

// main menu
.view, .header{
	-webkit-transition:-webkit-transform 250ms ease;
}


.menu{
	-webkit-transform:translate3d(-100%,0,0);
	-webkit-transition:-webkit-transform 250ms ease;

	ul{
		-webkit-transform:translate3d(50%,0,0);
		-webkit-transition:-webkit-transform 250ms ease;
	}
}

.open {
	.view, .header{
		-webkit-transform:translate3d(20%,0,0);
	}
	.menu{
		-webkit-transform:translate3d(0,0,0);
		
		ul{
		-webkit-transform:translate3d(0,0,0);
		}
	}
}
*/




// view transitions
[ui-view].ng-enter, [ui-view].ng-leave {
	-webkit-transition:all $viewTransitionDuration ease-in-out;
	-moz-transition:all $viewTransitionDuration ease-in-out;
	-o-transition:all $viewTransitionDuration ease-in-out;
	transition:all $viewTransitionDuration ease-in-out;
}

[ui-view].ng-enter {
	opacity: 0;
}

[ui-view].ng-enter-active {
	opacity: 1;
}

[ui-view].ng-leave {
	opacity: 1; 
}

[ui-view].ng-leave-active {
	opacity: 0;
}
