.content{
	position:absolute;
	width:100%;
	top:0;
	bottom:0;
	display:block;
	overflow: hidden;
	
	&.iscroll{
		padding-bottom:10px;
	}
	&.overflow-native{
		overflow-x:hidden;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		-webkit-backface-visibility:hidden;
		-webkit-transform:translate3d(0,0,0);
	}

	.overflow-content{
		min-height:101%;
	}
}

//
// in-view plugin
//

.in-view{
	-webkit-transition:all 300ms ease;

	&:not(.visible){
		opacity:0;
	}
	&.visible{
		opacity:1;
	}
}
