input{
	padding:$padding * 2;
	background:none;
	color:white;
	border:none;
	outline:none;
	-webkit-appearance:none;
	font-size:20px;
	text-transform:uppercase;
	background: rgba(0,0,0,.15);
	width:100%;
}