.list{

	li{
		padding:$padding * 2;
		text-transform:uppercase;
		&.ng-click-active{
			background:white;
			color:$flat-blue-4;
		}

		.custom-toggle{
			float: right;
			position: relative;
			top: -5px;
		}
	}

	.header-small{
		font-size:14px;
		text-transform:uppercase;
		padding:$margin;
	}

}

.list .sub-list{
	background:rgba(0,0,0,.3);
}