//
// variables
//

// nav
$nav-height      : 40px;
$nav-padding-top : 30px;


$background-color: $flat-blue-3;
$dark_background-color: $flat-blue-4;

$text-color:  $flat-gray-1;


//
$margin : 10px;
$padding : 10px;



$breakpoint-large : 970px;
$breakpoint-medium : 700px;
$breakpoint-small : 400px;


// anims
$viewTransitionDuration : 200ms;