@import "_colors.scss";
@import "_vars.scss";
@import "_mini_reset.scss";
@import "_grid.scss";
@import "_swiper.scss";
@import "_mixins.scss";

// include fonts
@import "_fontface.scss";
// set fonts
@import "_fonts.scss";
// icons
@import "_entypo.scss";


@import "_menu.scss";

@import "_header.scss";

// lists
@import "_lists.scss";

@import "_anims.scss";
@import "_directive_content.scss";
@import "_directive_custom-toggle.scss";
@import "_directive_swipe-to-reveal.scss";


@import "_ui.scss";
@import "_inputs.scss";


// views
@import "_view-start.scss";
@import "_view-new.scss";

/* Put your css in here */
body{
	background:black;
	color:white;
	overflow:hidden;	
	height:100%;
}
.main-wrapper{

	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
	position:relative;
	overflow:hidden;

	.view{
		position:absolute;
		width:100%;
		top:0;
		bottom:0;
		display:block;
		overflow: hidden;
		background:$flat-blue-3;
	}

	.m.view{
		z-index:10;
	}
}

