<d-content iscroll="true">

	<ul class="list">
		<li>
			Enable Notifications
			<d-custom-toggle value="settings.notifications.enable" toggle-action="testNotification()"></d-custom-toggle>
		</li>

		<div ng-if="settings.notifications.enable">
			<h3 class="header-small">meal reminders</h3>
			<ul class="sub-list no-swipe">
				<li ng-repeat="meal in meals" class="no-swipe">
					{{meal.name}}
					<d-custom-toggle value="meal.notification"></d-custom-toggle>
				</li>
			</ul>

			<h3 class="header-small">reports</h3>
			<ul class="sub-list no-swipe">
				<li class="no-swipe">
					daily
					<d-custom-toggle value="settings.reports.daily"></d-custom-toggle>
				</li>
				<li class="no-swipe">
					weekly
					<d-custom-toggle value="settings.reports.weekly"></d-custom-toggle>
				</li>
			</ul>
						<h3 class="header-small">reports</h3>
			<ul class="sub-list no-swipe">
				<li class="no-swipe">
					daily
					<d-custom-toggle value="settings.reports.daily"></d-custom-toggle>
				</li>
				<li class="no-swipe">
					weekly
					<d-custom-toggle value="settings.reports.weekly"></d-custom-toggle>
				</li>
			</ul>
						<h3 class="header-small">reports</h3>
			<ul class="sub-list no-swipe">
				<li class="no-swipe">
					daily
					<d-custom-toggle value="settings.reports.daily"></d-custom-toggle>
				</li>
				<li class="no-swipe">
					weekly
					<d-custom-toggle value="settings.reports.weekly"></d-custom-toggle>
				</li>
			</ul>
						<h3 class="header-small">reports</h3>
			<ul class="sub-list no-swipe">
				<li class="no-swipe">
					daily
					<d-custom-toggle value="settings.reports.daily"></d-custom-toggle>
				</li>
				<li class="no-swipe">
					weekly
					<d-custom-toggle value="settings.reports.weekly"></d-custom-toggle>
				</li>
			</ul>
						<h3 class="header-small">reports</h3>
			<ul class="sub-list no-swipe">
				<li class="no-swipe">
					daily
					<d-custom-toggle value="settings.reports.daily"></d-custom-toggle>
				</li>
				<li class="no-swipe">
					weekly
					<d-custom-toggle value="settings.reports.weekly"></d-custom-toggle>
				</li>
			</ul>
						<h3 class="header-small">reports</h3>
			<ul class="sub-list no-swipe">
				<li class="no-swipe">
					daily
					<d-custom-toggle value="settings.reports.daily"></d-custom-toggle>
				</li>
				<li class="no-swipe">
					weekly
					<d-custom-toggle value="settings.reports.weekly"></d-custom-toggle>
				</li>
			</ul>
						<h3 class="header-small">reports</h3>
			<ul class="sub-list no-swipe">
				<li class="no-swipe">
					daily
					<d-custom-toggle value="settings.reports.daily"></d-custom-toggle>
				</li>
				<li class="no-swipe">
					weekly
					<d-custom-toggle value="settings.reports.weekly"></d-custom-toggle>
				</li>
			</ul>
			
						<h3 class="header-small">reports</h3>
			<ul class="sub-list no-swipe">
				<li class="no-swipe">
					daily
					<d-custom-toggle value="settings.reports.daily"></d-custom-toggle>
				</li>
				<li class="no-swipe">
					weekly
					<d-custom-toggle value="settings.reports.weekly"></d-custom-toggle>
				</li>
			</ul>
			
		</div>
	</ul>


</d-content>