<d-content class="start main-wrapper">

	<a class="button no-swipe" ng-click="goTo('meals')">EAT</a>

	<div class="grid">
		<div class="col-1-2 box">
			<h2>meals today</h2>
			<p>{{stats.meals}}</p>
		</div>

		<div class="col-1-2 box">
			<h2>healthy</h2>
			<p>{{ stats.healthy }}</p>
		</div>

		<div class="col-1-2 box">
			<h2>not healthy</h2>
			<p>{{ stats.nonHealthy }}</p>
		</div>

		<div class="col-1-2 box">
			<h2>protein shake</h2>
			<p>{{ stats.proteinShakes }}</p>
		</div>
	</div>

</d-content>